.sidebar{
    flex:1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
}
.dashborad-wrapper{
    padding: 20px;
    color: #555;
}
.dashborad{
    margin-top: 20px;
}
.dashborad__title{
    margin-bottom: 10px;
    font-style: 14px;
    color: rgba(187, 186, 186, 0.932);
}
.sidebarlist-item{
    padding: 5px;
    cursor: pointer;
    display: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    color: #555;
}
.sidebarlist-item.active, .sidebarlist-item:hover{
    background-color: rgb(240, 240, 255);
}
.sidebarIcon{
    margin-right: 5px;
}
@media screen and (max-width: 768px) {
    .sidebar{
        max-width: 100px;
    }
    .dashborad{
        font-size: small;
    }
}

@media screen and (max-width: 480px) {

    .dashborad{
        font-size: x-small;
    }
}