@font-face {
    font-family: 'Roboto-Black';
    src: url('./../public/assets/fonts/Roboto-Black.ttf');
}
*{
    box-sizing: border-box;
    font-family: 'Roboto-Black';
}
*,*::before,::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    /* justify-content: space-between; */
    align-items: top;
    margin-top: 50px;
}
.link{
    text-decoration:none;
    color: inherit;
}